page-ratings {
    background-color: red;
    }
    .RStar {
    font-size: 35px;
    color: grey;
    margin-left: 2%;
    margin-right: 2%;
    }
    .RStar2 {
       font-size: 30px;
       color: grey;
       margin-left: 3%;
       margin-right: 3%;
    }
     
    .Rtext {
    font-size: 13px;
    color: black;
    opacity: 0.5;
    text-align: center;
    } 
    .Rtext2 {
    font-size: 11px;
    color: grey;
    text-align: center;
    }